/* Header */
body {
  margin: 0;
}
header {
  background-color: #155697;
  margin: 0;
}
.header-wrapper {
  display: flex;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left !important;
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
}
.right {
  float: right !important;
}
.left-wrapper {
  margin: 0px 0px 0px 20px;
  color: white;
  font-family: fantasy;
  font-size: 30px;
}
.wine-text {
  margin: 0px 0px 0px 20px;
  color: white;
  font-family: fantasy;
  font-size: 30px;
}
.right-wrapper {
  margin-right: 20px;
  color: #e6aa0f;
}

/* main wrapper */
.main-wrapper{
  display: flex;
  height: 100vh;
}
.right-col{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-col{
  height: 100vh;
}
.content-text{
  font-family: Arial, Helvetica, sans-serif;
}
/* Start shopping button */
.wrapper-shop {
  background-color: #155697;
  float: left;
  height: 30px;
  height: 90px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #e6aa0f;
  text-decoration: none;
}
.shopping:hover {
  text-decoration: none;
  color: #e6aa0f;
}

/* Feedback button and Login button */
.wrapper {
  background-color: #f2f2f2;
  float: left;
  height: 30px;
  height: 90px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}
